/*.item-container + .item-container {
    margin-top: 1em;
}*/

.item-container-name {
    margin-left: 0.5rem;
}

/* Items */
.item-box {
    width: 14em;
    margin: 0 0 .5rem .5rem;
    display: inline-flex;
    flex-direction: column;
    background: $gray-900;//lighten($gray-900, 5%);
    border-radius: $border-radius;
}

.item-data {
    width: 100%;
    display: inline-flex;
}

.item-image,
.item-mastered,
.item-owned,
.item-formaed,
.item-component { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-image {
    flex: 0 0 80px;
    width: 80px;
    height: 60px;
    padding: 0 1px;
    box-sizing: content-box;
    //background-color: #111;

    img {
       filter: drop-shadow(0 0 1px $gray-200);
    }
}

.item-info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    
    h6 {
        margin: 0 0 0 .2rem;
        height: 21px;
        width: 135px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.9rem;

        a {
            color: #4da3ff;
        }
    }
}

.item-stuff {
    width: 100%;
    height: 40px;
    margin-top: -1px;
    border-top: 1px solid $border-color;
    display: inline-flex;
    justify-content: space-around;

    div {
        height: 100%;
        width: 46px;
        cursor: pointer;

        &:not(:last-child) {
            border-right: 1px solid $border-color;
        }
    }

    img {
        filter: drop-shadow(0 0 0 #aaa);
    }
}

/* Item components */
.item-components {
    height: 37px;
    border-top: 1px solid $border-color;
    display: inline-flex;
    justify-content: center;
    background: $gray-900;
}

.item-component {
    position: relative;
    width: 45px;
    height: 36px;
    border-right: 1px solid $border-color;

    &:first-child {
        margin-left: -1px;
        border-left: 1px solid $border-color;
    }

    &:last-child {
        margin-right: -1px;
    }

    &:not(.color-resource) {
        cursor: pointer;
    }

    &.color-missing img {
       filter: drop-shadow(0 0 1px #b00);
    }
    &.color-have img {
        filter: drop-shadow(0 0 1px #0a0);
    }
    &.color-resource img {
        filter: drop-shadow(0 0 1px #aa0);
    }
}

.item-components-none {
    line-height: 35px;
    cursor: default;
}

.item-count {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0.75rem;
    cursor: default;
    line-height: 1;
    background: rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 0 2px 2px 2px;
    pointer-events: none;
}

.item-formaed {
    position: relative;
    margin-right: -1px;
}
