main {
    padding-top: 55px;
}

.navbar {
    padding: 0 1rem;
}

#app {
    align-items: flex-start;
}

/* Category list */
.col-categories {
    flex: 0 0 15em;
    padding-left: 15px;
    position: sticky;
    top: 55px;

    .list-group:first-child {
        margin-bottom: 1rem;
    }

    .list-group-item {
        padding: .4rem .5rem;
    }

    .badge {
        width: 4rem;
        margin-top: 0.1rem;
        margin-right: -0.25rem;
        padding: 0.3rem;
    }

    label {
        margin: 0.4rem 0 0 0.2rem;
    }
}

/* Item list */
.col-items {
    padding-left: .5rem;
    padding-right: .5rem;
}
