/* Misc */
.fit-image {
   object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
}

.color-have {
    background: rgba(0, 255, 0, 0.1);
}
.color-missing {
    background: rgba(127, 0, 0, 0.35);
}
.color-resource {
    background: rgba(255, 255, 0, 0.15);
}
.color-fade > img {
    filter: grayscale(75%) brightness(75%) opacity(60%);
}
