main {
    padding-top: 55px;
}

.navbar {
    padding: 0 1rem;
}

#app {
    align-items: flex-start;
}

/* Category list */
.col-categories {
    flex: 0 0 15em;
    padding-left: 15px;
    position: sticky;
    top: 55px;
}

.col-categories .list-group:first-child {
    margin-bottom: 1rem;
}

.col-categories .list-group-item {
    padding: .3rem .5rem;
}

.col-categories .badge {
    width: 4rem;
    margin-right: -.25rem;
    padding: 0.3rem 0;
}

.col-categories label {
    margin: 0.4rem 0 0 0.2rem;
}

.col-items {
    padding-left: .5rem;
    padding-right: .5rem;
}

/*.item-container + .item-container {
    margin-top: 1em;
}*/

.item-container-name {
    margin-left: 0.5rem;
}

/* Items */
.item-box {
    width: 14em;
    margin: 0 0 .5rem .5rem;
    display: inline-flex;
    flex-direction: column;
}

.item-data {
    width: 100%;
    display: inline-flex;
}

.item-image,
.item-mastered,
.item-owned,
.item-formaed,
.item-component { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-components {
    display: inline-flex;
    justify-content: center;
}

.item-image {
    flex: 0 0 80px;
    width: 80px;
    height: 60px;
    padding: 0 1px;
    box-sizing: content-box;
    background-color: #f6f6f6;
}

.item-info {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.item-info h6 {
    margin: 0 0 0 .2rem;
    height: 21px;
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9rem;
}

.item-info h6 a {
    color: #0056b3;
}

.item-stuff {
    width: 100%;
    height: 40px;
    margin-top: -1px;
    border-top: 1px solid #dee2e6;
    display: inline-flex;
    justify-content: space-around;
}

.item-stuff div {
    height: 100%;
    width: 46px;
    cursor: pointer;
}

.item-stuff div:not(:last-child) {
    border-right: 1px solid #dee2e6;
}

/* Item components */
.item-components {
    height: 37px;
    margin: 0 -1px -1px -1px;
    border: 1px solid #aaa;
}

.item-component {
    position: relative;
    width: 45px;
    height: 35px;
    border-right: 1px solid #aaa;
}
.item-component:first-child {
    margin-left: -1px;
    border-left: 1px solid #aaa;
}
.item-component:last-child {
    margin-right: -1px;
}
.item-component:not(.color-resource) {
    cursor: pointer;
}

.item-components-none {
    line-height: 35px;
}

.item-count {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0.75rem;
    cursor: default;
    line-height: 1;
    background: rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 0 2px 2px 2px;
    pointer-events: none;
}

.item-formaed {
    position: relative;
    margin-right: -1px;
}

/* Drops */
.drop-table {
    margin-bottom: 0;
}
.drop-table.table-dark.table-striped tbody tr.drop-active {
    background-color: rgba(0, 255, 0, .12);
}
.drop-table.table-dark.table-striped tbody tr.drop-active:nth-of-type(odd) {
    background-color: rgba(0, 255, 0, .2);
}
.drop-table.table-dark.table-striped tbody tr.drop-vaulted {
    background-color: rgba(255, 0, 0, .12);
    color: #ccc;
}
.drop-table.table-dark.table-striped tbody tr.drop-vaulted:nth-of-type(odd) {
    background-color: rgba(255, 0, 0, .25);
    color: #ccc;
}
.drop-table td {
    vertical-align: middle;
    white-space: nowrap!important;
}
.drop-table td:first-child {
    padding-left: .5rem;
}
.drop-table td:last-child {
    padding-right: .5rem;
}

/* Misc */
.fit-image {
   object-fit: contain;
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
}

.color-have {
    background: rgba(0, 255, 0, 0.1);
}
.color-missing {
    background: rgba(255, 0, 0, 0.06);
}
.color-resource {
    background: rgba(255, 255, 0, 0.1);
}
.color-fade > img {
    filter: grayscale(75%) brightness(75%) opacity(60%);
}

/* Bootstrap overrides */
.popover {
    max-width: 450px;
}
.bs-popover-top .arrow::after {
    border-top-color: #212529;
}
.bs-popover-right .arrow::after {
    border-right-color: #212529;
}
.bs-popover-bottom .arrow::after {
    border-bottom-color: #212529;
}
.bs-popover-left .arrow::after {
    border-left-color: #212529;
}
.popover-header {
    background-color: #212529;
    color: #eee;
    border-bottom: 1px solid #444;
    font-size: .875rem;
    padding: .25rem .5rem;
}
.popover-body {
    background-color: #212529;
    padding: 0;
}
