{% extends "base.html" %}
{% load static %}

{% block extra_js %}<script>FramethingData.public = {{ public|lower }};FramethingData.progress = JSON.parse('{{ progress|safe }}');</script>{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}
{% endif %}
<div class="row" id="app">
    <div class="col-categories">
        <category-list></category-list>
        <search-box></search-box>
        <show-mastered></show-mastered>
        <saving></saving>
    </div>
    <router-view :key="$route.fullPath"></router-view>
</div>
{% endblock content %}
