{% load compress %}
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Framething{% endblock %}</title>

        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/theme.scss' %}">
        {% endcompress %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between fixed-top">
            <a class="navbar-brand" href="/">Framething</a>
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_code' code=user.userprofile.code %}">Home</a>
                </li>
            </ul>
            <span class="navbar-text">{{ user.username }}</span>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
                </li>
            </ul>
            {% endif %}
        </nav>
        
        <main role="main" class="container-fluid">
            {% block content %}{% endblock %}
        </main>

        {% compress js %}
        <script src="{% static 'js/lib/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/lib/popper-1.14.3.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap-4.1.3.min.js' %}"></script>
            {% if debug %}
            <script src="{% static 'js/lib/vue-2.6.10.js' %}"></script>
            {% else %}
            <script src="{% static 'js/lib/vue-2.6.10.min.js' %}"></script>
            {% endif %}
        <script src="{% static 'js/lib/vue-router-3.0.1.min.js' %}"></script>
        <script src="{% static 'js/lib/vuex-3.0.1.min.js' %}"></script>
        {% endcompress %}

        {% compress js %}
        <script src="{% static 'js/generated_data.js' %}"></script>
        <script src="{% static 'js/manual_data.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %}

        {% if not debug %}
            {% compress js %}
            <script src="{% static 'js/webpack/framething.js' %}"></script>
            {% endcompress %}
        {% endif %}

        {% if debug %}
        <script type="text/javascript">Vue.config.devtools = true; Vue.config.performance = true;</script>
        <script src="{% static 'js/framething.js' %}" type="module"></script>
        {% endif %}
    </body>
</html>
